.doomsday-clock {
  text-align: center;
}

.clock-line, .advice-line {
  font-size: 1.2em;
  margin-top: 10px;
}

.clock-time, .advice-text {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
}
.doomsday-clock-wrapper {
  text-align: center;
  color: lightgray;
  padding: 10px;
}

.doomsday-title {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
  font-size: 40px;
  color: lightgray;
  margin-top: 60px;
}

.clock-icon {
  display: inline-block;
  font-size: 80px;
  margin-left: 8px;
  margin-top:  0px;
  vertical-align: bottom;
  color: gray;
}
  
.clock-time {
  font-size: 16px;
  margin-top: 5px;
}
  
.doomsday-divider {
  margin: 12px auto;
  width: 80%;
  border: none;
  border-top: 1px solid darkslategray;
}
  
.prepper-section {
  font-size: 14px;
  color: lightgray;
}
  
.prepper-title {
  font-weight: bold;
  margin-bottom: 5px;
}
  
.prepper-text {
  font-style: italic;
  color: gray;
}